html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 34px;
}

.title-small {
  font-size: 24px;
}

.hero-section .right > span {
  height: 100% !important;
}

.mobile-toggle {
  background: white !important;
  background-color: white !important;
}

.about-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .about-container {
    position: relative;
    top: 50%;
    left: 0;
    transform: 'unset';
  }
}

.shopImg {
  transform: translateY(-3px);
}

.info-bar {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.3);
}

.team-member-card-stack > span {
  height: 100% !important;
}
